@page
@model UserLoginView
@{
    ViewBag.Title = "login";
            // Layout = "_Layout";

}
<head>
    <style>
        body {
    background-image: url("Images/background.jpg");
    min-height: 380px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
    </style>
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

</head>
<body>
    <div class="limiter">
        <div class="container-login">
            <div class="wrap-login">
                <div class="login-form-title">Welcome</div>
                @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                {
                    <div class="wrap-input">
                        <div> @Html.TextBoxFor(a => a.Email,  new {placeholder = "Username",  @class="input-container" })</div>
                    </div>

                    <div class="wrap-input">
                        @Html.TextBoxFor(a => a.Password,  new {placeholder = "Password",  @class="input-container" })
                    </div>
                    <div>
                        <div class="container-login-form-btn">
                            
                                <button class="login-form-btn">
                                    Login
                                </button>
                          
                        </div>
                    </div>

                }
                <div class="login-form-title"> @Html.ActionLink("Don't have an account?Create one", "CreateAccount", "UserProfile")</div>
            </div>
            
        </div>
    </div>
</body>