@page
@model SalonModel

@{
    Layout = "_Layout";
}
<head>
    <style>
        .column-container1 {
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            margin: 50px;
            padding: 50px 50px 50px 50px;
        }

        .row-container1 {
            display: flex;
            flex-direction: row;
            width: fit-content;
            padding: 10px 10px 10px 10px;
            gap: 100px;
            align-self: center;
        }


        .row-container2 {
            display: flex;
            flex-direction: row;
            padding: 10px 10px 10px 10px;
        }

    </style>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />

</head>
<body>

    <div class="column-container1">
        <h1>@ViewBag.Salon.Name</h1>
        <div class="row-container1">
            <div>
                <div>About</div>
                <div>@ViewBag.Salon.Description</div>
                <div>Our Address</div>
                <div>@ViewBag.Salon.Address</div>
            </div>
            <img class="img-details" src="~/Images/@ViewBag.Salon.ImagePath" alt="No Image" />

        </div>

        <div>
            <input type="button" value="Book appoinment" onclick="location.href='@Url.Action("Services", "Services", new {salonId = ViewBag.Salon.Id})'" />
        </div>
        
    </div>
   

</body>
